<div> 
<h1 class="text-5xl font-bold">Welcome to the Admin Dashboard</h1>
 <div class="flex gap-4 mt-6"> 
<%= link_to "New Product", new_product_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</div>